.mainContainer {
  width: 913px;
  height: 766px;
  background-color: white;
}

.overlay {
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.closeButton {
  display: flex;
  justify-content: end;
  border: none;
  font-size: 20px;
  cursor: pointer;
  margin: 30px 50px;
}

/* li {
  display: flex;
}


*/
.newTaskParagraph {
  font-size: 10px;
}
/* Validation Messages */
.validation {
  font-size: 12px;
  color: gray;
  list-style: none;
  padding-left: 0;
  margin-top: 5px;
}
.newMemberInfo {
  margin: 30px 50px;
}
.newMemberInfo h1 {
  margin-bottom: 45px;
  display: flex;
  justify-content: center;
  font-size: 32px;
  font-weight: 600;
}
.headerLabel h3 {
  font-size: 14px;
  font-weight: 400;
}
.nameSurnamebox {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 45px;
}
.nameSurname_inputs {
  width: 384px;
}
.nameSurname_inputs input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.departmentInput {
  display: flex;
  flex-direction: column;
  margin-top: 45px;
  margin-bottom: 76px;
}
.departmentInput_input {
  width: 384px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}
/* Avatar Upload */
.avatar-upload {
  text-align: center;
}
.avatarInput {
  margin-top: 70px;
}
.avatarInput input {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 120px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}
.avatarBox {
  height: 120px;
  border: 1px solid #ddd;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
}

.avatarImage {
  object-fit: cover;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.deleteAvatar {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  position: absolute;
  bottom: 12px;
  right: 364px;
  border: 1px solid #ddd;
  cursor: pointer;
}
.avatarErroreText,
.formSurnamesError {
  font-size: 10px;
  color: red;
}

/* Buttons */
.buttons {
  display: flex;
  justify-content: end;
  margin-top: 20px;
  gap: 20px;
  height: 42px;
}

.cancelBtn {
  background: white;
  border: 2px solid #aaa;
  color: #333;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.submitBtn {
  background: #8338ec;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

/* Hover Effects */
.cancelBtn:hover {
  background: #eee;
}

.submitBtn:hover {
  background: darkviolet;
}

/* Responsive */
@media (max-width: 550px) {
  .form-container {
    width: 90%;
  }
}
